body{
  background: #000000;
}

#highscore-table {
	margin: 100px auto;
	text-align: center;
	width: 50%;
	
}

#reg{
	font-size: 15px!important;
	margin-top:-25px!important;
}

#highscore-table .user {
	font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
	text-shadow: 0 1px rgba(255,255,255,.8);        
	background: #000000;      
	color: #ff0000;
	padding: 20px;    
	float: left;
	position: relative;
	background-image: url('highscore.png');
}


#highscore-table .user:nth-child(1) {
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;        
}

#highscore-table .user:nth-child(6) {
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;        
}

#highscore-table h3 {
	font-size: 20px;
	font-weight: bold;
	padding: 20px;
	margin: 20px -20px 50px -20px;

}


#highscore-table .user:nth-child(1) h3 {
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;       
}

#highscore-table .user:nth-child(4) h3 {
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;       
}	

#highscore-table h3 span {
	margin-left:-3px!important;
	display: block;
	font: bold 25px/100px Georgia, Serif;
	color: #698890;
	height: 100px;
	width: 100px;
	margin: 10px auto -65px;
}


.clear:before, .clear:after {
  content:"";
  display:table
}

.clear:after {
  clear:both
}

.clear {
  zoom:1
}